<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<form action="/sessions/create" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="Email">
  <input type="password" name="Password">
  <button type="submit">Log In</button>
</form>
